<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Accountability Editor</title>
        <script src="Spreadsheet.js"></script>
        <script>
            window.onload = () => {
                init();
            }
        </script>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <table id="studentList">
            <tr>
                <th onclick="sortByFirst(this)">
                    First Name <span class="sortIndicator"></span>
                </th>
                <th onclick="sortByLast(this)">
                    Last Name  <span class="sortIndicator"></span>
                </th>
                <th colspan="2">
                    Info  <span class="sortIndicator"></span>
                </th>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="searchCell">
                        <input id="searchBox" type="text" placeholder="Search" oninput="updateSearch()" />
                        <button id="searchClear" onclick="clearSearch()">Clear Search</button>
                    </div>
                </td>
            </tr>
        </table>
        <button id="addName" onclick="insertRow(event)">+</button>
    </body>
</html>