<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Accountability Editor</title>
        <script src="Spreadsheet.js"></script>
        <script>
            window.onload = () => {
                createSpreadsheet();
            }
        </script>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <table id="studentList">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th colspan="2">Info</th>
            </tr>
        </table>
        <button id="addName" onclick="insertRow(event)">+</button>
    </body>
</html>